html{
        font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
 background-color: black;
}
.contato__titulo {
    padding: 10px;
    text-align: center;
    font-size: 60px;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0;
}

.forms__contato{
    background: #69696936;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.label__form {
    font-weight: bold;
    display: block;
    color: #000000;
    font-size: 25px;
}

.input__form {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background-color: #1c0755;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #732188;
}

